body {
    background-image: url('https://assets.awwwards.com/awards/images/2015/04/pattern.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    width: auto;
}
.navbar-brand {
    color: white!important;
    background-color: teal;
    font-weight: bold;
    font-size:26px;
}
.ryanpic {
    height:200px;
    width:200px;
    float:left;
}